
<div class="container team text-center">
  <h2>Made with <i class="fa fa-heart"></i> by:</h2>

  <ul class="list-inline text-center items">
    <li> <%= image_tag "https://avatars1.githubusercontent.com/u/19412894?v=4", class: "img-circle img-medium" %>
      <h3>Thomas</h3>
    </li>
    <li><%= image_tag "https://avatars2.githubusercontent.com/u/11738628?v=4", class: "img-circle img-medium" %>
      <h3>Dante</h3>
    </li>
  </ul>
</div>
